<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 cancelText="Cancelar" [data]="productsinwarehouse" submitText="Guardar" *ngIf="productsinwarehouse" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-lookup-form-field [data]="getProductsResult" emptyFilterText="No results found" multipleItemsSelectedText="{0} items selected" placeholder="Escolhe o ID do produto" property="id_product" [required]="true" requiredText="is required" textProperty="category" title="ID Produto" valueProperty="id_product" type="lookup">
        </rz-lookup-form-field>
        <rz-string-form-field [maxLength]="40" property="name" [required]="true" title="Nome" type="string">
        </rz-string-form-field>
        <rz-integer-form-field maxText="cannot be more than" minText="cannot be less than" property="quantity" [required]="true" requiredText="necessário" title="Quantidade Conjunto" type="integer">
        </rz-integer-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
