<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Login">
  </rz-heading>
  <rz-heading #heading0 size="H6" text="Bem Vindo!">
  </rz-heading>
  <rz-heading #welcomeText size="H6" text="Introduza as suas credenciais para começar.">
  </rz-heading>
  <rz-login #loginCounterUser [allowRegister]="false" [allowResetPassword]="false" loginText="Login" passwordRequired="Password is required" passwordText="Password" registerMessageText="Don't have an account yet?" registerText="Sign up" resetPasswordText="Forgot password" userRequired="UserID is required" userText="UserID">
  </rz-login>
</rz-content>
