<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Edit Products In Bar">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #quantityLabel text="Quantity" component="quantity" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-numeric #quantity [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="productsinbar && productsinbar.quantity" name="quantity">
            </rz-numeric>
            <rz-required-validator #quantityRequiredValidator [component]="quantity" text="quantity is required" [style]="{'position': 'absolute'}">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #salePriceLabel text="Sale Price" component="sale_price" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-numeric #salePrice [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="productsinbar && productsinbar.sale_price" name="sale_price">
            </rz-numeric>
            <rz-required-validator #salePriceRequiredValidator [component]="salePrice" text="sale_price is required" [style]="{'position': 'absolute'}">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #minimumQuantityLabel text="Minimum Quantity" component="minimum_quantity" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-numeric #minimumQuantity [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="productsinbar && productsinbar.minimum_quantity" name="minimum_quantity">
            </rz-numeric>
            <rz-required-validator #minimumQuantityRequiredValidator [component]="minimumQuantity" text="minimum_quantity is required" [style]="{'position': 'absolute'}">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #idBarLabel text="Bar" component="id_bar" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown #idBar [data]="getBarsResult" textProperty="address" valueProperty="id_bar" placeholder="Choose Bar" [style]="{'display': 'block', 'width': '100%'}" [(ngModel)]="productsinbar && productsinbar.id_bar" multipleItemsSelectedText="{0} items selected" emptyFilterText="No results found" name="id_bar">
            </rz-dropdown>
            <rz-required-validator #idBarRequiredValidator [component]="idBar" text="id_bar is required" [style]="{'position': 'absolute'}">
            </rz-required-validator>
          </div>
        </div>
        <div class="row">
          <div class="col offset-sm-3">
            <rz-button #button1 buttonType="submit" icon="save" text="Save" buttonStyle="primary">
            </rz-button>
            <rz-button #button2 buttonStyle="light" [style]="{'marginLeft': '1rem'}" text="Cancel" (click)="button2Click($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </div>
  </div>
</rz-content>
