<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Login">
  </rz-heading>
  <rz-heading #welcome size="H5" text="Bem Vindo!">
  </rz-heading>
  <rz-heading #insert size="H6" text="Introduza as suas credenciais para começar.">
  </rz-heading>
  <rz-login #login0 [allowRegister]="false" [allowResetPassword]="false" loginText="Login" passwordRequired="Introduza a sua password" passwordText="Password" registerMessageText="Don't have an account yet?" registerText="Sign up" resetPasswordText="Forgot password" userRequired="Introduza o seu UserID " userText="UserID">
  </rz-login>
</rz-content>
