<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Login">
  </rz-heading>
  <rz-heading #heading0 size="H5" text="Please, enter your credentials to begin:">
  </rz-heading>
  <rz-login #login0 [allowRegister]="false" [allowResetPassword]="false" userRequired="UserID is required" userText="UserID" loginText="Login" registerText="Sign up" registerMessageText="Don't have an account yet?" passwordText="Password" passwordRequired="Password is required" resetPasswordText="Forgot password">
  </rz-login>
</rz-content>
