<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Login">
  </rz-heading>
  <rz-heading #heading0 size="H5" text="Bem Vindo!">
  </rz-heading>
  <rz-heading #heading1 size="H6" text="Introduza as suas credenciais.">
  </rz-heading>
  <rz-login #login0 [allowRegister]="false" [allowResetPassword]="false" passwordRequired="Introduza a password" userRequired="Introduza o seu UserID " userText="UserID" loginText="Login" registerText="Sign up" registerMessageText="Don't have an account yet?" passwordText="Password" resetPasswordText="Forgot password">
  </rz-login>
</rz-content>
